/* SPDX-License-Identifier: GPL-3.0-or-later */

label.toc-toggle-btn {
	display: none;
}

label.toc-toggle-btn:after {
	content: "[Hide]";
}

input[type=checkbox]:checked ~ label.toc-toggle-btn:after {
	content: "[Show]";
}

input.toc-toggle {
	display: none;
}

@media screen and (max-width: 65em)
{

label.toc-toggle-btn {
	display: inline;
	font-weight: bold;
	font-size: larger;
}

input[type=checkbox]:checked ~ div.toc-content {
	display: none;
}

h3.toc-title {
	display: inline;
}

div.toc-content a {
	color: black;
}

} /* @media screen and (max-width: 875px) */

div.toc-content li.toctree-l1 {
	margin-left: 1rem;
}

div.toc-content li.toctree-l2, div.toc-content li.toctree-l3 {
	list-style-type: none;
}

div.toc-content li.current ul {
	margin-left: 1rem;
}

div.toc-content li.current > a {
	font-weight: 600;
}

div.toc-content {
	background-color: #eeeeee;
}

div.toc-content li.current ul {
	background-color: #ffffff;
}
